{% extends 'base.html.twig' %}

{% block title %}Edit Provider{% endblock %}

{% block body %}
    <h1>Edit Provider</h1>

    {{ form_start(form) }}
        {{ form_row(form.provider_name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.provider_type) }}
        {{ form_row(form.isActive) }}

        <button type="submit-edit">Update</button>
    {{ form_end(form) }}
{% endblock %}
{%block footer%}

    <footer>
        <p>©ViajesParaTi Test By: Gerard Serra</p>
    </footer>

{%endblock%}

